header{
  background: #F50319;
  padding: 21px;
}
.container{
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Roboto";

}
.logo{
  display: inline-block;
  text-align: center;
}
#republica{
  width: 250px;
}
.box-icon{
  display: inline-block;
  margin-left: 250px;
  margin-right: 250px;
}
.icon{
  display: inline-block;
  margin: 5px;
  padding-top: 5px;
  text-align: center;
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;

}
.search{
  display: inline-block;
  text-align: center;
  margin-left: 100px
  width: 120px;
	height: 50px;
	-moz-border-radius: 80px / 50px;
	-webkit-border-radius: 80px / 50px;
	border-radius: 80px / 50px;
  font-family: "Roboto";
}
.text{
  margin: 10px;
  color: white;
}

nav{
    background: #696969;
  padding: 3px;
  font-family: "Roboto";

}
ul{
  margin-left: 200px;
  margin-right: 200px;


}

li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 15px;
}
a{
  color: white;
  text-decoration: none;
}
